/vendor
/node_modules
/public/build
/public/hot
/public/storage
/bootstrap/cache/*.php
/storage/
/error_log
*.log
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
.env
.env.*
!.env.example
.phpunit.result.cache
.phpunit.cache
npm-debug.log
yarn-error.log
.DS_Store
.idea/
.vscode/
